html {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}
.register-fR3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}

.register-fR3 .auto-group-whgm-bpV {
  box-sizing: border-box;
  padding: 2.6rem 15.5rem 7.8rem 20.6rem;
  width: 83.1rem;
  height: 76.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/backgroundnaruto-3-bg.png');
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .group-6-iPK {
  margin-bottom: 5.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .group-6-iPK .register-fJZ {
  margin: 0rem 0.1rem 2.1rem 0rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.6rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .group-6-iPK .please-enter-your-username-password-and-choose-your-character-Mx5 {
  margin-bottom: 4.7rem;
  max-width: 47rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .group-6-iPK .auto-group-fwzu-SyX {
  margin: 0rem 0rem 4.7rem 1.4rem;
  box-sizing: border-box;
  padding: 2.7rem 1.9rem 2.8rem 1.9rem;
  width: 45.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #000000;
  border-radius: 1rem;
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .group-6-iPK .auto-group-vgz5-Vgu {
  margin-left: 1.4rem;
  box-sizing: border-box;
  padding: 2.7rem 2.2rem 2.8rem 2.2rem;
  width: 45.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #000000;
  border-radius: 1rem;
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .group-7-x4h {
  margin: 0rem 0.1rem 3.1rem 1.8rem;
  width: calc(100% - 1.9rem);
  height: 8.4rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .group-7-x4h .select-character-fUu {
  margin: 0rem 2.4rem 0.1rem 0rem;
  max-width: 12.8rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .group-7-x4h .auto-group-mkpt-aLy {
  box-sizing: border-box;
  padding: 0.6rem 1.6rem 0.6rem 4.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 1rem;
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .group-7-x4h .auto-group-mkpt-aLy .naruto-761 {
  margin-right: 10.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .group-7-x4h .auto-group-mkpt-aLy .line-1-RMb {
  margin: 0rem 1.3rem 7.1rem 0rem;
  width: 0.1rem;
  height: 0.1rem;
  background-color: #ffffff;
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .group-7-x4h .auto-group-mkpt-aLy .polygon-1-jt5 {
  margin-bottom: 0.9rem;
  width: 4.7rem;
  height: 4.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .auto-group-5e1o-FLd {
  margin: 0rem 4.8rem 0rem 1.8rem;
  width: calc(100% - 6.6rem);
  height: 6.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .auto-group-5e1o-FLd .group-3-AiV {
  margin-right: 4.9rem;
  width: 15.2rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 1.5rem;
  flex-shrink: 0;
}

.register-fR3 .auto-group-whgm-bpV .auto-group-5e1o-FLd .already-have-an-account-rLR {
  max-width: 20.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  text-decoration-line: underline;
  color: #0c2fdf;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.register-fR3 .frame-1-LWV {
  box-sizing: border-box;
  padding: 16.4rem 3rem 18.8rem 2.45rem;
  width: 61.9rem;
  height: 122.2rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(1.26deg, #f2a30b 24.22%, #ffffff 80.58%);
  flex-shrink: 0;
}

.register-fR3 .frame-1-LWV .welcome-qy3 {
  margin: 0rem 13.85rem 3.2rem 0rem;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.7rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.register-fR3 .frame-1-LWV .minato-1-xGy {
  margin-left: 6.75rem;
  width: 49.7rem;
  height: 73.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}